
a{
  font-size: 2em;
}

a{
  margin-left: 15px;
}

body{
  background-color: rgba(0, 0, 0, 0.641);
}

.contenitore{
  display: flex;
  flex-wrap: wrap;
}

header {
  height: 100px;  
  padding: 10px;
  background-color: black;
}

main{
  padding-bottom: 100px;
}


footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333333ed;
  color: white;
  padding: 20px 15px;
  text-align: center;
  z-index: 1000; 
}


.card{
  aspect-ratio: 16/9;
}



