a {
  font-size: 2em;
}

a {
  margin-left: 15px;
}

body {
  background-color: rgba(0, 0, 0, 0.822);
}

.contenitore {
  display: flex;
  flex-wrap: wrap;
}

header {
  width: 100%;
  height: 100px;
  position: sticky;
  top: 0;
  z-index: 5000;
  opacity: 0.9;
  padding: 10px;
  background-color: black;
}

footer {
  position: sticky;
  width: 100%;
  background-color: #333333ed;
  color: white;
  padding: 20px 15px;
  text-align: center;
  top: 0;
  left: 0;
}


.movie-card {
  position: relative;
  transition: transform 0.3s ease;
  overflow: hidden;
  cursor: pointer;
  background-color: black;
  color: white;
  height: auto;
  gap: 25px;
}

.movie-card img {
  width: 100%;
  height: auto;
  aspect-ratio: 16/20;
}

.movie-card .card-title {
  position: absolute;
  width: 100%;
  text-align: center;
  opacity: 0;
  bottom: 0;
  left: 0;
  margin-bottom: 0;
  visibility: hidden;
  transition: bottom 0.3s ease, opacity 0.3s ease;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.7);
}

.movie-card:hover {
  transform: scale(1.15);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  z-index: 500;
}

.movie-card:hover .card-title {
  bottom: 0;
  opacity: 1;
  visibility: visible;
}

.card-text {
  display: none;
}

/* overlay */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  margin-top: 50px;
}

.overlay-content {
  background: black;
  border-radius: 25px;
  width: 900px;
  height: auto;
  overflow-y: auto;
  position: relative;
  color: white;
  display: flex;
}

.text {
  padding: 15px;
}

.overlay .close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #f44336;
  color: white;
  border: none;
  border-radius: 50%;
  font-size: 18px;
  padding: 10px;
  cursor: pointer;
}

.overlay img {
  width: 100%;
  max-width: 300px;
  height: auto;
  border-radius: 15px;
}

.overlay h5 {
  margin-top: 20px;
  font-size: 1.8rem;
}

.overlay p {
  font-size: 1.2rem;
  line-height: 1.5;
}

.overlay p strong {
  font-weight: bold;
}

.overlay:hover {
  cursor: pointer;
}

.stars-container {
  align-items: center;
  color: red;
  padding: 5px;
  font-size: 1.5em;
}

/* PLAY */

.play-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.play-icon-container {
  position: absolute;
  top: 53%;
  left: 17%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.play-icon {
  color: white;
  font-size: 50px;
  padding-left: 5px;
}


.play-icon {
  color: white;
  font-size: 30px;
}


